@{

    Layout = "~/Views/Shared/_LayoutPageAddEdit.cshtml";
}

<div class="bloginput">
    <form method="post">
        <div class="blogtitlediv">
            @Html.TextBox("posttitle", "Title")</br>
        </div>
        <div class="blogtextareadiv">
            @Html.TextArea("bloginput", new { @class = "blogtextarea", @rows = "22" })</br>
        </div>
        <div class="submitbutton">
            <input type="submit" />
        </div>


    </form>
</div> <!--end bloginput div-->