
@font-face {
  font-family: 'Molengo';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Molengo-regular/Molengo-regular.eot');
  src: url('../fonts/Molengo-regular/Molengo-regular.eot?#iefix') format('embedded-opentype'),
       local('Molengo'),
       local('Molengo-regular'),
       url('../fonts/Molengo-regular/Molengo-regular.woff2') format('woff2'),
       url('../fonts/Molengo-regular/Molengo-regular.woff') format('woff'),
       url('../fonts/Molengo-regular/Molengo-regular.ttf') format('truetype'),
       url('../fonts/Molengo-regular/Molengo-regular.svg#Molengo') format('svg');
}



@font-face {
  font-family: 'Nunito Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Nunito-300/Nunito-300.eot');
  src: url('../fonts/Nunito-300/Nunito-300.eot?#iefix') format('embedded-opentype'),
       local('Nunito Light'),
       local('Nunito-300'),
       url('../fonts/Nunito-300/Nunito-300.woff2') format('woff2'),
       url('../fonts/Nunito-300/Nunito-300.woff') format('woff'),
       url('../fonts/Nunito-300/Nunito-300.ttf') format('truetype'),
       url('../fonts/Nunito-300/Nunito-300.svg#Nunito') format('svg');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Nunito-regular/Nunito-regular.eot');
  src: url('../fonts/Nunito-regular/Nunito-regular.eot?#iefix') format('embedded-opentype'),
       local('Nunito Regular'),
       local('Nunito-regular'),
       url('../fonts/Nunito-regular/Nunito-regular.woff2') format('woff2'),
       url('../fonts/Nunito-regular/Nunito-regular.woff') format('woff'),
       url('../fonts/Nunito-regular/Nunito-regular.ttf') format('truetype'),
       url('../fonts/Nunito-regular/Nunito-regular.svg#Nunito') format('svg');
}

@font-face {
  font-family: 'Poppins Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Poppins-300/Poppins-300.eot');
  src: url('../fonts/Poppins-300/Poppins-300.eot?#iefix') format('embedded-opentype'),
       local('Poppins Light'),
       local('Poppins-300'),
       url('../fonts/Poppins-300/Poppins-300.woff2') format('woff2'),
       url('../fonts/Poppins-300/Poppins-300.woff') format('woff'),
       url('../fonts/Poppins-300/Poppins-300.ttf') format('truetype'),
       url('../fonts/Poppins-300/Poppins-300.svg#Poppins') format('svg');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Poppins-regular/Poppins-regular.eot');
  src: url('../fonts/Poppins-regular/Poppins-regular.eot?#iefix') format('embedded-opentype'),
       local('Poppins'),
       local('Poppins-regular'),
       url('../fonts/Poppins-regular/Poppins-regular.woff2') format('woff2'),
       url('../fonts/Poppins-regular/Poppins-regular.woff') format('woff'),
       url('../fonts/Poppins-regular/Poppins-regular.ttf') format('truetype'),
       url('../fonts/Poppins-regular/Poppins-regular.svg#Poppins') format('svg');
}



@font-face {
  font-family: 'Ubuntu Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ubuntu-Condensed-regular/Ubuntu-Condensed-regular.eot');
  src: url('../fonts/Ubuntu-Condensed-regular/Ubuntu-Condensed-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Condensed'),
       local('Ubuntu-Condensed-regular'),
       url('../fonts/Ubuntu-Condensed-regular/Ubuntu-Condensed-regular.woff2') format('woff2'),
       url('../fonts/Ubuntu-Condensed-regular/Ubuntu-Condensed-regular.woff') format('woff'),
       url('../fonts/Ubuntu-Condensed-regular/Ubuntu-Condensed-regular.ttf') format('truetype'),
       url('../fonts/Ubuntu-Condensed-regular/Ubuntu-Condensed-regular.svg#UbuntuCondensed') format('svg');
}




